.userCard {
  display: flex;
  gap: 20px;

  width: 100%;
  max-width: 360px;
  padding: 24px;

  background-color: var(--color-06);
  border-radius: 16px;

  .image {
    overflow: hidden;
    width: 112px;
    height: 120px;
    border-radius: 8px;

    img {
      width: 112px;
      height: 120px;
      object-fit: cover;
      object-position: center;
    }
  }

  .info {
    display: flex;
    flex: 1;
    flex-direction: column;

    .usernameWrapper {
      display: flex;
      align-items: center;
      justify-content: space-between;
      margin-bottom: 4px;

      .username {
        color: var(--color-accent);
        word-break: break-all;
      }
    }

    .companyName {
      flex: 1 1 auto;
      color: var(--color-02);
    }

    .city {
      color: var(--color-03);
    }
  }
}

.archive {
  .image img {
    filter: grayscale(100%);
  }

  .info .usernameWrapper .username {
    color: var(--color-02);
  }

  .info .companyName {
    color: var(--color-03);
  }

  .info .city {
    color: var(--color-04);
  }
}

@media (width <= 772px) {
  .userCard {
    max-width: 320px;
    padding: 16px;
  }
}

@media (width <= 480px) {
  .userCard {
    flex-direction: column;
    max-width: 162px;
    height: 242px;

    .image {
      width: 130px;

      img {
        width: 130px;
      }
    }
  }
}

@media (width <= 375px) {
  .archiveDropdownItem {
    font-size: 16px;
  }
}
