.usersList {
  display: flex;
  flex-wrap: wrap;
  gap: 32px 40px;
}

@media (width <= 792px) {
  .usersList {
    gap: 19px;
  }
}

@media (width <= 480px) {
  .usersList {
    gap: 10px;
    justify-content: space-between;
  }
}
